<div class="login-form">
  <h1>Welcome to <span>IBM</span> Watson for Genomics</h1>
  <form action="">
      <div class="control-div">
          <label>User Name</label>
          <input type="text" class="form-control" placeholder="">
      </div>
      <div class="control-div">
              <label>Password</label>
          <input type="password" class="form-control" placeholder="">
      </div>
      <div class="login-button">
          <a href="#" class="forgot-pwd">Forgot your password?</a>
          <p>
              For other support, please enter a case in the 
              <span>
                  IBM Support Community
              </span>
          </p>
          
      </div>
      <input type="submit" value="Sign In" class="btn-cls">
  </form>
  <div class="login-description">
      <p>Licensed Materials - Property of IBM Corp.</p>
      <p>&copy;Copyright IBM Corporation 2014,2019.</p>
  </div>
</div>

<router-outlet></router-outlet>
