@mixin opacity($opacity) {
    opacity: $opacity;
    -o-opacity: $opacity;
    -ms-opacity: $opacity;
    -moz-opacity: $opacity;
    -webkit-opacity: $opacity;
    filter:alpha(opacity=#{$opacity * 100});
}

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
    -o-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

@mixin border-radius($border-radius) {
    border-radius: $border-radius;
    -o-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
}

@mixin transition($transition...) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}

@mixin box-sizing($border-sizing) {
    box-sizing: $border-sizing;
    -o-box-sizing: $border-sizing;
    -ms-box-sizing: $border-sizing;
    -moz-box-sizing: $border-sizing;
    -webkit-box-sizing: $border-sizing;
}

@mixin text-shadow($text-shadow...) {
    text-shadow: $text-shadow;
    -o-text-shadow: $text-shadow;
    -ms-text-shadow: $text-shadow;
    -moz-text-shadow: $text-shadow;
    -webkit-text-shadow: $text-shadow;
}

@mixin respond-to($media) {
    @media #{$media} {
        @content;
    }
}

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

//Padding mixin
@mixin padding($top: false, $right: false, $bottom: false, $left: false) {
    @if $top { padding-top: $top; }
    @if $right { padding-right: $right; }
    @if $bottom { padding-bottom: $bottom; }
    @if $left { padding-left: $left; }
}

//Margin mixin
@mixin margin($top: false, $right: false, $bottom: false, $left: false) {
    @if $top { margin-top: $top; }
    @if $right { margin-right: $right; }
    @if $bottom { margin-bottom: $bottom; }
    @if $left { margin-left: $left; }
}

@mixin space($type:margin, $direction:all, $amount:$medium) {
    @if $type==padding {
        @if $direction==all {
            padding: $amount;
        }
        @else if $direction==top {
            padding-top: $amount
        }
        @else if $direction==left {
            padding-left: $amount
        }
        @else if $direction==right {
            padding-right: $amount
        }
        @else {
            padding-bottom: $amount
        }
    }
    @else {
        @if $direction==all {
            margin: $amount;
        }
        @else if $direction==top {
            margin-top: $amount
        }
        @else if $direction==left {
            margin-left: $amount
        }
        @else if $direction==right {
            margin-right: $amount
        }
        @else {
            margin-bottom: $amount
        }
    }
}


@mixin font-size($size: false, $color: false, $weight: false,  $lh: false) {
    @if $size { 
        font-size: $size;
        font-size: calculateRem($size);
    }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

 
@mixin pseudo($pos: false, $top: false, $right: false,  $left: false,  $bottom: false, $z-indexes:false) {
    @if $pos { position: $pos; }
    @if $top { top: $top; }
    @if $right { right: $right; }
    @if $left { left: $left; }
    @if $bottom { bottom: $bottom; }
    @if $z-indexes { z-index: $z-indexes; }
}

@mixin img-replace($image, $width, $height, $position: center, $repeat: no-repeat) {
    background: url($image) $repeat $position;    
    background-size: $width $height;
}

@mixin word-wrap() {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin firefox-browser-style() {
    @at-root {
        @supports (-moz-appearance:none) {
            & {
                @content;
            }
        }
    }
}

@mixin ie-browser-style() {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { // IE 10+
        @content;
    }
}

@mixin ellipsis ($max-width: false){
    display: inline-block;
    @if $max-width { max-width: $max-width }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}