/* You can add global styles to this file, and also import other style files */

@import "abstracts/variables", "abstracts/functions", "abstracts/mixins", "abstracts/placeholders";

@import "base/reset", "base/typography";

@import "layout/forms";

@import "components/button", "components/input";

@import "themes/scroll";


body {
  font-family: $app-font-family;
  margin: 0;
  padding: 0;
  background-color: rgb(28, 48, 62);
  overflow: hidden;
  color: white;
}
